{% extends "base.html" %}

{% block body %}
<div>
    <h2>Author Details</h2>
    <p>Name: {{ author.name }}</p>
    <p>Latin Name: {{ author.latin_name }}</p>
    <p>Nationality: {{ author.nationality }}</p>
    <h3>Books of {{ author.name }}</h3>
    {% if books %}
     {% for book in books %}
            <li><a href="{{ book.get_absolute_url }}">{{ book }}</a></li>
        {% endfor %}
    {% else %}
    <p>There is not any book related to this Author.</p>
    {% endif %}
</div>
{% endblock %}