{% extends 'base.html' %}

{% block title %} Book: {{ book.name }} {% endblock %} 

{% block body %}
 
    <p>Name: {{ book.name }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    {% if collection %}
        {% with collection|first as co %}
        <P>Collection: <a href="{{ co.get_absolute_url }}">{{ co.name }}</a></p>{% endwith %}
    {% endif %}
    <p>Author:  <span style="padding:10px;">{{ book.author_1 }}</span></p>
    <p>Illustrator:  <span style="padding:10px;">{{ book.illustrator_1 }}</span></p>
    <p>Publisher:  <span style="padding:10px;">{{ book.publisher }}</span></p>
    <p>Publishing Year:  <span style="padding:10px;">{{ book.ppub_year }}</span></p>

    {% if critiques %}
        <hr />
        <h3>Critiques</h3>
        {% for critique in critiques %}
        <p>{{ critique.author }}:</p>
         {# TODO:: the content should format to render as multilines text or markdown format #}
        <p style="padding:10px;">{{ critique.content|safe }}</p>
        {% endfor %}
    
    {% endif %}
        
{% endblock %}