{% extends 'base.html' %}

{% load i18n %}

{% block book_active %}active{% endblock %}

{% block basic-aria %}true{% endblock %}

{% block basic-show %}show{% endblock %}

{% block title %} {%trans 'Books List'%} {% endblock %}
{% block body %}
     {% if request.user.is_staff %}
    <p>
    <a href="{% url 'book_create' %}" class="btn btn-outline-secondary">{% trans 'Add Book' %}</a>
    </p>
    {% endif %}

    <ul>
    {% for book in books %}
        <li><a href="{{ book.get_absolute_url }}">{{ book }}</a></li>
    {% endfor %}
    </ul>

    
{% endblock %}