{% extends "base.html" %}

{% load i18n %}

{% block basic_active %}active{% endblock %}

{% block body %}
<h2>{% trans 'Add book' %}</h2>

  <form action="" method="post" enctype="multipart/form-data">
      <ul>
          <li>{% trans 'You can add a book here! If you could not find an author, translator or etc. in the list you should add them first' %}.</li>
      </ul>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input class="m-2" type="submit" value="{% trans 'Add Book' %}">
  </form>
{% endblock %}