{% extends 'base.html' %}

{% block title %} Book: {{ book.name }} {% endblock %} 

{% block body %}
 
    <p>Name: {{ book.name }}</p>
    <p>Code: {{ book.id }}</p>
    {% if book.collection %}
        <P>Collection: {{ book.collection }}</p>
    {% endif %}
    <p>Author:  {% for author in authors %} <span style="padding:10px;">{{ author }}</span> {% endfor %}</p>
    {% if critiques %}
        <hr />
        <h3>Critiques</h3>
        {% for critique in critiques %}
        <p>{{ critique.author }}:</p>
         {# TODO:: the content should format to render as multilines text or markdown format #}
        <p style="padding:10px;">{{ critique.content|safe }}</p>
        {% endfor %}
    
    {% endif %}
        
{% endblock %}