{% extends 'base.html' %}

{% load i18n %}

{% block book_active %}active{% endblock %}

{% block title %}{% trans 'Book details' %}{% endblock %}

{% block body %}

<p>{% trans 'Name' %}: {{ book.name }}</p>
<p>{% trans 'ISBN' %}: {{ book.isbn }}</p>
<p>{% trans 'Author' %}: {% if book.author_1 %}<a href="{% url 'author_detail' book.author_1.pk %}">{{ book.author_1 }}</a>{% endif %}{% if book.author_2 %} - <a href="{% url 'author_detail' book.author_2.pk %}">{{ book.author_2 }}</a>{% endif %}</p>
<p>{% trans 'Translator' %}: {% if book.translator_1 %}<a href="{% url 'translator_detail' book.translator_1.pk %}">{{ book.translator_1 }}</a> {% endif %}- {% if book.translator_2 %}<a href="{% url 'translator_detail' book.translator_2.pk %}">{{ book.translator_2 }}</a>{% endif %}</p>
<p>{% trans 'Illustrated' %}: {{ book.illustrated }}</p>
<p>{% trans 'Illustrator' %}: <a href="#">{{ book.illustrator_1 }}</a> - {{ book.illustrator_2 }}</p>
<p>{% trans 'Editor' %}: {{ book.editor }}</p>
<p>{% trans 'Re-Write' %}: {{ book.re_write }}</p>
<p>{% trans 'Collector' %}: {{ book.collector }}</p>
<p>{% trans 'Is a Collection' %}: {{ book.is_collection }}</p>
<p>{% trans 'Collection' %}: {%if book.collection %} <a href="{{ book.collection.get_absolute_url }}">{{ book.collection }}</a>{% endif %}</p>
<p>{% trans 'Number in series' %}: {{ book.number }}</p>
<p>{% trans 'Publication place' %}: {{ book.pub_place }}</p>
<p>{% trans 'Publisher' %}: {{ book.publisher }}</p>
<p>{% trans 'Publisher sub-category' %}: {{ book.publisher_sub_category }}</p>
<p>{% trans 'Publisher 2' %}: {{ book.publisher2 }}</p>
<p>{% trans 'Publishing Year' %}: {{ book.pub_year }}</p>

<p>{% trans 'Pages' %}: {{ book.pages }}</p>
<p>{% trans 'Circulation' %}: {{ book.circulation }}</p>
<p>{% trans 'Bibliography' %}: {{ book.bibliography }}</p>
<p>{% trans 'Tags' %}: {{ book.tags }}</p>
<p>{% trans 'Genre' %}: {{ book.genre }}</p>



{% if critiques %}
<hr/>
<h3>{% trans 'Critiques' %}</h3>
{% for critique in critiques %}
<p>{{ critique.author }}:</p>
{# TODO:: the content should format to render as multilines text or markdown format #}
<p style="padding:10px;">{{ critique.content|safe }}</p>
{% endfor %}

{% endif %}
    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#market" aria-controls="market">Market Info.</button>
    <button type="button" class="btn btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#shoora" aria-controls="shoora">Shoora Info.</button>

    <div id="market" class="collapse">
        {% if market %}
         <h3>Market info</h3>
        <p>Available: {% if market.available %}Yes{% else %}No{% endif %}</p>
        <p>Last Price:{{ market.price }}</p>
        <p>Last Published Year: {{ market.last_published_year }}</p>
        <p>Last Circulation: {{ market.last_circulation }}</p>
        <p>Updated: {{ market.updated_date }}</p>
        {% else %}
        <p class="bg-warning">There is no market info!</p>
        {% endif %}
    </div>


    <div id="shoora" class="collapse">
        {% if shoora %}
        <hr />
        <h3>Shoora info</h3>
        <p>Book group: {{ shoora.book_group }}</p>
        <p>Subject:{{ shoora.subject }}</p>
        <p>Category: {{ shoora.category }}</p>
        <p>Sriric: {{ shoora.satiric }}</p>
        <p>Main character: {{ shoora.main_character }}</p>
        <p>Main character description: {{ shoora.main_character_description }}</p>
        <p>Point of View: {{ shoora.pov }}</p>
        <p>Events_place: {{ shoora.events_place }}</p>
        <p>Child special need: {{ shoora.child_special_need }}</p>
        <p>Genre: {{ shoora.genre }}</p>
        <p>Genre Description: {{ shoora.genre_description }}</p>
        <p>Age Range: {{ shoora.age_from }} to {{ shoora.age_to }}</p>
        <p>Position: {{ shoora.position }}</p>
        <p>Book latin name: {{ shoora.book_latin_name }}</p>
        <p>Author latin name: {{ shoora.author_latin_name }}</p>
        <p>Language: {{ shoora.language }}</p>
        <p>Nationality: {{ shoora.nationality }}</p>
        <p>Score: {{ shoora.score }}</p>
        <p>Other translations: {{ shoora.other_translation }}</p>
        <p>Cpoyright: {{ shoora.copyright }}</p>


        {% else %}
        <p class="bg-warning">There is no shoora info!</p>
        {% endif %}
    </div>


</div>
{% endblock %}
