{% extends "base.html" %}

{% load i18n %}

{% block isbn_active %}active{% endblock %}

{% block body %}

<h1>{% trans 'Delete Author' %}</h1>

<p>{% trans 'Are you sure you want to delete the ISBN' %}: <b>{{ isbn }}</b>?</p>
<p class="bg-warning p-3"><b>{% trans 'NOTE' %}: </b>{% trans 'All of the book details which is related to this ISBN will be removed permanently' %}!</p>

<form action="" method="POST">
  {% csrf_token %}
  <input type="submit" value="{% trans 'Yes, delete.' %}">
</form>

{% endblock %}