{% extends "base.html" %}

{% load i18n %}

{% block isbn-aria %}true{% endblock %}

{% block isbn-show %}show{% endblock %}

{% block title %} {% trans 'Add ISBN' %} {% endblock %}

{% block body %}
  <form action="" method="post">
      <ul>
          <li>{% trans 'The ISBN is the most important identification for a book' %}</li>
          <li>{% trans 'The structure of its 13-digits character xxx-xx-xxxx-xxx-x or the older 10-digits is xx-xxxx-xxx-x ' %}</li>
          <li>{% trans 'If you do not know hoe to define an ISBN you should contanct the administration of Website' %}</li>
      </ul>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input class="m-2" type="submit" value="{% trans 'Add ISBN' %}">
  </form>
{% endblock %}