{% extends "base.html" %}

{% load static %}

{% load i18n %}

{% block basic_active %}active{% endblock %}

{% block body %}
<h2>{% trans 'Add review' %}</h2>

  <form action="" method="post">
      <ul>
          <li>{% trans 'You can add a review for a book by selecting its ISBN' %}.</li>
      </ul>
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input class="m-2" type="submit" value="{% trans 'Add review' %}">
  </form>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock %}