{% extends "base.html" %}

{% load i18n %}

{% block basic_active %}active{% endblock %}

{% block body %}
<h2>{% trans 'Translators' %}</h2>
<div class="row">
    <p>
    <a href="{% url 'translator_create' %}" class="btn btn-outline-secondary">{% trans 'Add Translator' %}</a>
    </p>
</div>
<h3>{% trans 'List of translators' %}</h3>
<ul>
    {% for translator in object_list %}
    <li><a href="{% url 'translator_detail' translator.pk %}">{{ translator.name }}</a></li>
    {% endfor %}
</ul>
{% endblock %}