<html>
<head>
<style>
    .nav-link {
        display: inline;
        padding: 20px;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;}
    
</style>
</head>

<header>    
    <ul>
        <h2 class="nav-link" >Ketabkhone</a></h2>
        <li class="nav-link" ><a href="{% url 'home' %}">Home</a></li>
        <li class="nav-link"><a href="{% url 'booklist' %}">Books</a></li>
        <li class="nav-link"><a href="{% url 'collectionlist' %}">Collections</a></li>
    </ul>
        <hr />
    <h2> {% block title %}{% endblock %} </h2>
</header>

<body>
    {% block body %}
    {% endblock %}
</body>

<footer>
    <hr />
    <p>copyrights things</p>
</footer>

</html>