{% load i18n %}

{% load static %}


<!doctype html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% comment %}
    <!-- CSS for LTR format   -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.rtl.min.css"
          integrity="sha384-4dNpRvNX0c/TdYEbYup8qbjvjaMrgUPh+g4I03CnNtANuv+VAvPL6LqdwzZKV38G" crossorigin="anonymous">

    <link href="{% static 'css/base.css' %}" rel="stylesheet">

</head>

<body>
<header>

    <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{% trans 'Ketabkhone' %}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% block home_active %}{% endblock %}" aria-current="page"
                           href="{% url 'home' %}">{% trans 'Home' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block book_active %}{% endblock %}"
                           href="{% url 'book_list' %}">{% trans 'Books' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block collection_active %}{% endblock %}"
                           href="{% url 'collectionlist' %}">{% trans 'Collections' %}</a>
                    </li>

                    {# The Admin part of navbar #} {% if request.user.is_superuser %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% block dash_active %}{% endblock %}"
                           href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a>
                    </li>
                    {% endif %}


                    <li class="nav-item text-danger">
                        {% if request.user.is_authenticated %} <a class="nav-link"
                                                                  href="{% url 'logout' %}">{% trans 'Logout' %}</a> {% else %}
                        <a class="nav-link" href="{% url 'login' %}">{% trans 'Log-in' %}</a> {% endif %}
                    </li>
                </ul>
                {% get_current_language as LANGUAGE_CODE %} {% get_available_languages as LANGUAGES %} {% get_language_info_list for LANGUAGES as languages %}
                <div class="languages">
                    <p>{% trans "Language" %}:</p>
                    <ul class="languages">
                        {% for language in languages %}
                        <li>
                            <a href="/{{ language.code }}/" {% if language.code == LANGUAGE_CODE %} class="selected" {% endif %}> {{ language.name_local }} </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<main>
    {# the staff part of navbar #} {% if request.user.is_staff %}
    <div class="d-flex" id="wrapper">
        <div class="" id="sidebar-wrapper">

            <!--        Acordion menu start -->
            <div class="accordion" style="width:250px;" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="">
                        <button class="accordion-button " disabled type="" data-bs-toggle="" data-bs-target=""
                                aria-expanded="true" aria-controls="">
                            {% trans 'Admin Panel' %}
                        </button>
                    </h2>

                </div> <!-- end of accordion item -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            {% trans 'ISBN' %}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="" aria-labelledby="">
                                <li><a class="dropdown-item" href="{% url 'isbn_list' %}">{% trans 'ISBN List' %}</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'isbn-create' %}">{% trans 'Add ISBN' %}</a>
                                </li>
                                <li><a class="dropdown-item disabled" href="#">{% trans 'Update ISBN' %}</a></li>
                                <li><a class="dropdown-item disabled" href="#">{% trans 'Delete ISBN' %}</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item disabled" href="#">{% trans 'Add an Issue' %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingTwo">
                        <button class="accordion-button " type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                            {% trans 'Basic Data' %}
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="" aria-labelledby="">
                                <li><a class="dropdown-item" href="{% url 'book_list' %}">{% trans 'Books' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'author_list' %}">{% trans 'Authors' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'translator_list' %}">{% trans 'Translators' %}</a></li>
                                <li><a class="dropdown-item" href="{% url 'illustrator_list' %}">{% trans 'Ilustrators' %}</a></li>
                                <li><a class="dropdown-item disabled" href="#">{% trans 'Publisher' %}</a></li>
                                <li><a class="dropdown-item disabled" href="#">{% trans 'Prizes' %}</a></li>
                                <li><a class="dropdown-item disabled" href="#">{% trans 'Market Info' %}</a></li>
                                <li><a class="dropdown-item disabled" href="#">{% trans 'Content Info' %}</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item disabled" href="#">{% trans 'Add an Issue' %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            {% trans 'Reports' %}
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <!--                    NO reports yet -->
                        </div>
                    </div>
                </div> <!-- end of accordion item -->
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingFour">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            {% trans 'Shoora Book Info' %}
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                         data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <ul class="" aria-labelledby="">
                                <li><a class="dropdown-item" href="{% url 'shoora_list' %}">{% trans 'Shoora Book List' %}</a></li>
                                <li><a class="dropdown-item" href="#">{% trans 'Shoora Book Groups' %}</a></li>
                            </ul>
                        </div>
                    </div>
                </div> <!-- end of accordion item -->
            </div>
            <!--        Acordion Menu ends-->
        </div>


        {% endif %} {# end of staff part of navbar #}


        <div class="cotainer p-3 ">
            {% comment %}
            <!--        TODO: Find the propper script -->
            <!--        the script for button does not work because it could not find propper script-->
            <button class="btn btn-primary" id="menu-toggle">Menu</button>
            {% endcomment %}
            <div class="container-fluid">
                <h2> {% block title %}{% endblock %} </h2>
                {% block body %} {% endblock %}
            </div>
        </div>
    </div>
    </div>


</main>


<footer class=" text-muted mt-5 text-center text-small footer" style="background-color: #e3f2fd;">
    <div class="container">
        <p class="mb-1">&copy;{% trans '2021 CBC & Ketabkhone' %}</p>
        <ul class="list-inline ">
            <li class="list-inline-item "><a class="text-muted" href="#">{% trans 'Privacy' %}</a></li>
            <li class="list-inline-item"><a class="text-muted" href="#">{% trans 'Terms' %}</a></li>
            <li class="list-inline-item"><a class="text-muted" href="#">{% trans 'Support' %}</a></li>
        </ul>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

</script>


</body>
</html>